@import "tailwindcss";

@layer components {
  /* Contenedor principal del input */
  .loginContainer {
    @apply w-full max-w-md mx-auto p-8
    bg-white/80 dark:bg-slate-800/90 backdrop-blur-xl
    shadow-2xl shadow-purple-900/10 dark:shadow-black/50
    rounded-3xl border border-white/50 dark:border-slate-700
    mt-6 flex flex-col gap-6 ;
  }
  
}
