@import "tailwindcss";

@layer components {
  .gradientIcon {
    @apply relative flex items-center justify-center w-20 h-20 
    rounded-2xl rotate-3
    bg-gradient-to-br from-purple-600 to-pink-600
    shadow-xl shadow-purple-600/30 
    text-white transition-transform hover:rotate-6 hover:scale-105 duration-300;
  }
  .title {
    @apply text-3xl font-extrabold text-slate-800 dark:text-white tracking-tight;
  }
  .subtitle {
    @apply text-sm text-slate-500 dark:text-slate-400 font-medium;
  }
}
